<header class="game-header">
    <img (click)="goBack()" src="./home.svg" alt="Homepage">
    <h1>{{ ws.currentGameName() || 'Partita' }}</h1>
    <div class="game-id">
        #{{ gameId }}
    </div>
</header>

<div class="main-wrapper">

    <div class="timer-container">
        <div class="timer-track">
            <div class="timer-fill" [style.width.%]="getGlobalTimerPercentage()"
                [class.urgent]="getGlobalTimerSeconds() <= 10">
                <span class="timer-label">⏳ Timer ({{ getGlobalTimerSeconds() }}s)</span>
            </div>
        </div>
    </div>

    <div class="status-strip">
        <div class="status-left">
            @if(chess.turn() === myColor){
            <span>▶ Your turn!</span>
            } @else {
            <span>✋︎ Opponent's turn!</span>
            }
        </div>

        <div class="status-right">
            @if (myPermissions.length > 0) {
            <span>You can move: </span>
            <span class="piece-icons">
                {{ getPermissionIcons() }}
            </span>
            }
        </div>
    </div>

    <div class="game-content" [class.content-centered]="gameMode() === 0">

        <div class="board-section">

            @if (toastMessage) {
            <div class="toast-notification">
                {{ toastMessage }}
            </div>
            }

            <div class="chessboard">
                @for (row of board; track $index; let r = $index) {
                <div class="row">
                    @for (square of row; track $index; let c = $index) {
                    <div class="square" [class.black]="isSquareBlack(r, c)" [class.white]="!isSquareBlack(r, c)"
                        [class.selected]="selectedSquare === getSquareNotation(r, c)"
                        [class.valid-move]="isPossibleMove(r, c)" [class.prop-from]="isProposalHighlight(r, c, 'from')"
                        [class.prop-to]="isProposalHighlight(r, c, 'to')" (click)="onSquareClick(r, c)">

                        @if (square) {
                        <img [src]="pieceImages[square.color === 'w' ? square.type.toUpperCase() : square.type]"
                            class="piece" [class.locked-piece]="isMyPieceLocked(square)">
                        }

                        @if(c === 0){ <span class="coord"> {{ isFlipped ? (r + 1) : (8 - r) }}</span> }
                        @else if (r===7) { <span class="coord-file"> {{ isFlipped ? ['h','g','f','e','d','c','b','a'][c]
                            : ['a','b','c','d','e','f','g','h'][c] }}</span> }

                        @if (isPossibleMove(r, c)) { <div class="hint-dot"></div> }
                    </div>
                    }
                </div>
                }
            </div>
        </div>

        @if (gameMode() !== 0) {
        <div class="voting-section">

            @if (activeProposals.length === 0) {
            <div class="empty-state-card">
                <p>Nessuna votazione attiva</p>
            </div>
            } @else {

            <div class="proposals-list">
                @for (prop of myTeamProposals; track prop.proposalId) {

                <div class="vote-card" [class.card-voted]="hasVotedFor(prop)" [class.card-to-vote]="!hasVotedFor(prop)"
                    (mouseenter)="onProposalHover(prop.proposalId)" (mouseleave)="onProposalLeave()">

                    @if (hasVotedFor(prop)) {
                    <div class="voted-content">
                        <div class="voted-content-left">
                            <div class="move-text">{{ prop.from }} ➝ {{ prop.to }}</div>
                            <span class="voted-text">You voted</span>
                        </div>
                        <div class="vote-status">
                            <span class="vote-number">{{ prop.votes.length }}</span>
                            <span>VOTES</span>
                        </div>
                    </div>
                    }

                    @else {
                    <div class="voted-content">
                        <div class="voted-content-left">
                            <span class="move-text">{{ prop.from }} ➝ {{ prop.to }}</span>
                            <span class="small-votes">{{ prop.votes.length }} votes</span>
                        </div>
                        <button (click)="voteFor(prop.proposalId)" class="btn-vote-action">
                            👍🏻 VOTE!
                        </button>
                    </div>
                    }

                </div>
                }
            </div>
            }
        </div>
        }

    </div>
</div>

@if (isLeaveModalOpen()) {
<app-leave-game-modal [isLastPlayer]="isLastPlayer()" (confirmLeave)="confirmLeave()" (confirmDelete)="confirmDelete()"
    (cancel)="closeLeaveModal()">
</app-leave-game-modal>
}

@if (showGameResult) {
<app-game-result-notification [message]="gameResultMessage" [reason]="gameResultReason" [countdown]="redirectCountdown"
    [isVictory]="isVictory">
</app-game-result-notification>
}