<div class="lobby-container">
    <div class="title-wrapper">
        <h1 class="game-title align-left">CHESS</h1>

        <h1 class="game-title align-right">TEAM BATTLE</h1>
    </div>
    <div class="hero-image-container">
        <img src="./distributed-chess-logo.png" alt="DistributedChess Logo" class="chess-illustration">
    </div>

    <div class="actions-row">
        <button class="btn-action" (click)="openJoinGameModal()"><span class="text-brown">JOIN </span><span
                class="text-white">GAME</span></button>
        <button class="btn-action" (click)="openCreateGameModal()"><span class="text-brown">CREATE </span><span
                class="text-white">GAME</span></button>
    </div>

    <span class="footer">© Copyright 2026 - Chess Team Battle</span>
</div>
@if (isCreateGameModalOpen()) {
<app-create-game-modal (close)="closeCreateGameModal()"></app-create-game-modal>
}

@if (isJoinGameModalOpen()) {
<app-join-game-modal [games]="games()" (close)="closeJoinGameModal()">
</app-join-game-modal>
}