<header class="game-header">
    <img (click)="goBack()" src="./home.svg" alt="Homepage">
    <h1>{{ ws.currentGameName() || 'Partita' }}</h1>
    <div class="player-count-badge">
        {{ players().length }}/{{ capacity() }}
    </div>
</header>
<p class="game-id">#{{ gameId }}</p>
<div class="game-page">
    <div class="game-layout">

        <div class="content-grid">

            <div class="players-section">
                <div class="scrollable-list">
                    @for (p of players(); track p.playerId) {
                    <div class="player-card" [class.card-ready]="readyPlayers().has(p.playerId)"
                        [class.card-not-ready]="!readyPlayers().has(p.playerId)">

                        <div class="card-info">
                            <span class="name">{{ p.playerName }}</span>
                        </div>

                        <div class="status-icon">
                            @if (readyPlayers().has(p.playerId)) {
                            <svg viewBox="0 0 24 24" class="icon-svg">
                                <path fill="currentColor" d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z" />
                            </svg>
                            } @else {
                            <svg viewBox="0 0 24 24" class="icon-svg">
                                <path fill="currentColor"
                                    d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" />
                            </svg>
                            }
                        </div>
                    </div>
                    }
                </div>
            </div>

            <div class="illustration-section">
                <app-chess-queen [percentage]="readyPercentage()"></app-chess-queen>
            </div>

        </div>
        <div class="action-footer">
            <button class="btn-ready-large" (click)="toggleReady()">
                {{ amIReady() ? 'NOT READY' : 'READY' }}
            </button>
        </div>
    </div>